extends layout

block content
  .row.header: .col-xs-12
    h1= cfgData.pageTitle
    p= cfgData.pageDescription

  for row in rows
    .row.row-equal-height
      for col, i in row
        div.column(class="col-xs-12 col-sm-" + cfgData.columnWidth)
          h2.column-title= col.name
          ol.column-list
            for page in col.pages
              li.column-entry: a(href=page.url)= page.title
