extends layout

block content
  .row.header: .col-xs-12
    h1: span= cfgData.pageTitle
    p= cfgData.pageDescription

  .row.row-equal-height
    for row in rows
      for col, i in row
        div.column(class="col-xs-" + cfgData.columnWidth.xs + " col-sm-" + cfgData.columnWidth.sm + " col-md-" + cfgData.columnWidth.md + " col-lg-" + cfgData.columnWidth.lg)
          h2.column-title= col.name
          ol.column-list
            for page in col.pages
              li.column-entry: a(href=page.url)= page.title
