extends layout

block content
  .row.header: .col-xs-12
    h1= cfgData.pageTitle
    p= cfgData.pageDescription

  .row
    for col, title in colsData.columns
      div.column(class="col-xs-12 col-sm-" + cfgData.columnWidth)
        h2.column-title= title
        ol.column-list
          for page in col
            li.column-entry: a(href=page.url)= page.title
