doctype html
html
  head
    title= cfgData.pageTitle
    if(cfgData.mergeFrontendFiles)
      style: include ../public/stylesheets/thirdparty/thirdparty.min.css
      style: include ../public/stylesheets/minified/master.min.css
    else
      link(rel='stylesheet', href='/stylesheets/thirdparty/thirdparty.min.css')
      link(rel='stylesheet', href='/stylesheets/minified/master.min.css')
  body
    .container: .row: .col-xs-12
      block content
    include overlays
    if(cfgData.mergeFrontendFiles)
      script: include ../public/javascripts/thirdparty/thirdparty.min.js
    else
      script(src="/javascripts/thirdparty/thirdparty.min.js")
