doctype html
html
  head
    title= cfgData.pageTitle
    if(cfgData.mergeFrontendFiles)
      style: include ../public/stylesheets/thirdparty/thirdparty.min.css
      style: include ../public/stylesheets/minified/master.min.css
    else
      link(rel='stylesheet', href='/stylesheets/thirdparty/thirdparty.min.css')
      link(rel='stylesheet', href='/stylesheets/minified/master.min.css')

    link(rel="apple-touch-icon" sizes="180x180" href="/images/static-assets/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/static-assets/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/static-assets/favicons/favicon-16x16.png")
    link(rel="manifest" href="/images/static-assets/favicons/manifest.json")
    link(rel="mask-icon" href="/images/static-assets/favicons/safari-pinned-tab.svg" color="#1e1e1e")
    link(rel="shortcut icon" href="/images/static-assets/favicons/favicon.ico")
    meta(name="apple-mobile-web-app-title" content="Startpage")
    meta(name="application-name" content="Startpage")
    meta(name="msapplication-config" content="/images/static-assets/favicons/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")

  body
    .container: .row: .col-xs-12
      block content
    include overlays
    if(cfgData.mergeFrontendFiles)
      script: include ../public/javascripts/thirdparty/thirdparty.min.js
      script: include ../public/javascripts/wired.js
    else
      script(src="/javascripts/thirdparty/thirdparty.min.js")
      script(src="/javascripts/wired.js")
