doctype html
html(ng-app='wired-startpage')
  head
    title
    if(process.env.NODE_ENV === 'production')
      style: include ../public/stylesheets/minified/master.min.css
    else
      link(rel='stylesheet', href='/stylesheets/minified/master.min.css')

    include favicon

  body
    .container: .row: .col-xs-12
      block content
    include overlays
    if(process.env.NODE_ENV === 'production')
      script: include ../public/javascript/minified/master.min.js
    else
      script(src="/javascript/minified/master.min.js")
