@wired-txt: #999999;
@wired-link: #999999;
@wired-bg: #1E1E1E;

body {
  color: @wired-txt;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: @wired-bg;
}

a {
  color: @wired-link;
}
