{
  "columns": [
    {
      "name": "Image boards",
      "pages": [{
        "title": "xChan",
        "url": "http://localhost"
      },{
        "title": "yChan",
        "url": "http://localhost"
      },{
        "title": "aChan",
        "url": "http://localhost"
      },{
        "title": "bChan",
        "url": "http://localhost"
      },{
        "title": "cChan",
        "url": "http://localhost"
      },{
        "title": "idkChan",
        "url": "http://localhost"
      },{
        "title": "cChan",
        "url": "http://localhost"
      }]
    },
    {
      "name": "Other sites",
      "pages": [{
        "title": "A site 1",
        "url": "http://localhost"
      },{
        "title": "Another site 2",
        "url": "http://localhost"
      },{
        "title": "Another site 3",
        "url": "http://localhost"
      },{
        "title": "Another site 4",
        "url": "http://localhost"
      }]
    },
    {
      "name": "More sites",
      "pages": [{
        "title": "A site 1",
        "url": "http://localhost"
      },{
        "title": "Some site 2",
        "url": "http://localhost"
      },{
        "title": "And another site 3",
        "url": "http://localhost"
      },{
        "title": "Idk site 4",
        "url": "http://localhost"
      }]
    },
    {
      "name": "More sites 2",
      "pages": [{
        "title": "A site 1",
        "url": "http://localhost"
      },{
        "title": "Some site 2",
        "url": "http://localhost"
      },{
        "title": "And another site 3",
        "url": "http://localhost"
      },{
        "title": "Idk site 4",
        "url": "http://localhost"
      }]
    },
    {
      "name": "Even more sites",
      "pages": [{
        "title": "A site 1",
        "url": "http://localhost"
      },{
        "title": "Some site 2",
        "url": "http://localhost"
      },{
        "title": "And another site 3",
        "url": "http://localhost"
      },{
        "title": "Idk site 4",
        "url": "http://localhost"
      }]
    },
    {
      "name": "Even more sites 2",
      "pages": [{
        "title": "A site 1",
        "url": "http://localhost"
      },{
        "title": "Some site 2",
        "url": "http://localhost"
      },{
        "title": "And another site 3",
        "url": "http://localhost"
      },{
        "title": "Idk site 4",
        "url": "http://localhost"
      }]
    },
    {
      "name": "Even more sites 3",
      "pages": [{
        "title": "A site 1",
        "url": "http://localhost"
      },{
        "title": "Some site 2",
        "url": "http://localhost"
      },{
        "title": "And another site 3",
        "url": "http://localhost"
      },{
        "title": "Idk site 4",
        "url": "http://localhost"
      }]
    }
  ]
}
