{
  "pageTitle": "The Wired Startpage",
  "pageDescription": "Welcome to the Wired Startpage",
  "columnWidth": 3,
  "mergeFrontendFiles": false,
  "overlayImages": {
    "top": {
      "left": "",
      "right": ""
    },
    "bottom": {
      "left": "smug.png",
      "right": ""
    }
  }
}
